//typogaphy
body{
  font-size: 16px;
}

h1{
  font-weight: 200;
  font-size: 5rem;
  letter-spacing: 0.25rem;
  margin: 0;
  padding: 3rem 0 0;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  line-height: 4.5rem;
  text-shadow: 1px 0px 5px #3A3434;
  
}

p{
  padding: 0 0 2rem;
  text-align: center;
  margin: 0;
  color: #FFF;
  font-family: sans-serif;
  text-shadow: 1px 0px 5px #3A3434;
}
